/* --------------------- BARRA DE NAVEGACION--------*/
#navBar {
  background-color: #B90020;
  overflow: hidden;
}

#navBar .navbar-brand {
  color: white;
}

#navBar .nav-item {
  padding: 5px;
  margin: 2px;
}

#navBar .nav-link {
  color: #f2f2f2;
  padding: 10px;
}

#navBar .nav-link:hover {
  background-color: #ef731f;
  border-radius: 20px;
}

/* --------------------- INICIO --------*/
#inicio {
  position: relative;
  text-align: center;
  padding: 0;
}

#inicio img {
  width: 100%;
  height: 91vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

/* --------------------- PRODUCTOS --------*/
#productos {
  text-align: center;
}

#productos .rowTitulo {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
}

#productos .tituloProductos {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  text-transform: uppercase;
}

#productos .tituloProductos::after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #B90020;
  margin: 10px auto 40px;
}

#productos .row {
  padding: 20px;
}

#productos .col-sm-12 {
  padding: 20px;
}

/* --------------------- SOBRE NOSOTROS --------*/
#sobreNosotros {
  padding: 20px;
  text-align: center;
}

#sobreNosotros .tituloSobreNosotros {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  text-transform: uppercase;
}

#sobreNosotros .tituloSobreNosotros::after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #B90020;
  margin: 10px auto 40px;
}

#sobreNosotros .card {
  padding: 20px;
}

#sobreNosotros .row {
  padding: 20px;
}

/* --------------------- PREGUNTAS --------*/
#preguntas {
  padding: 20px;
  text-align: center;
}

#preguntas .tituloPreguntas {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  text-transform: uppercase;
}

#preguntas .tituloPreguntas::after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #B90020;
  margin: 10px auto 40px;
}

#preguntas .accordion-button:not(.collapsed) {
  color: #f2f2f2;
  background-color: #B90020;
}

/* --------------------- Contacto --------*/
#contacto {
  text-align: center;
}

#contacto .tituloContacto {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  text-transform: uppercase;
}

#contacto .tituloContacto::after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #B90020;
  margin: 10px auto 40px;
}

#contacto .fa {
  padding: 30px;
  font-size: 30px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2rem;
}

#contacto .fa:hover {
  opacity: 0.7;
}

#contacto .fa-facebook {
  background: #3B5998;
  color: white;
}

#contacto .fa-whatsapp {
  background-color: #55cf8a;
  color: white;
}

#contacto .fa-instagram {
  background-color: #125688;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------------------------------- SECCION SOBRE NOSOTROS--------- */
#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info .imgInfo {
  width: 30vw;
  height: 50vh;
  padding: 1rem;
}

#info p {
  padding: 1rem;
}

#info .info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info .info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---------------------------------- SECCION PREGUNTAS--------- */
#contenedorPreguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contenedorPreguntas .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25px;
}

#contenedorPreguntas .pregunta {
  background-color: #B90020;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  height: 3rem;
}

#contenedorPreguntas .respuesta {
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

/* ----------------------- SECCION CONTACTO  --------------- */
#contenedorContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contenedorContacto .map {
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenedorContacto .formulario {
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  margin: 0 auto;
  padding: 1em;
  padding-top: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  height: 306px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: left;
}

input,
textarea {
  font: 1em sans-serif;
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

/* ----------------------- MEDIAS QUERIS --------------- */
@media (max-width: 576px) {
  #info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #info .imgInfo {
    width: 70vw;
  }
  #contenedorContacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */